# .gitignore
# Dependencias de Node.js
node_modules/
.codegpt/
# Archivos Python compilados
*.pyc
__pycache__/



# Archivos específicos del sistema
.DS_Store

# Configuración de VSCode
.vscode/

# Variables de entorno
.env

# Archivos de logs
*.log

# Entorno virtual de Python
.venv/

